* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Nunito, sans-serif;
}

:root {
  /* Brand Core */
  --dark: #1a1a1a;      /* Deep dark charcoal/black from the backdrop */
  --offwhite: #FAF9F6;      /* High-contrast distressed white from the logo */

  /* The Explosion Palette */
  --color-red: #ea4535;     /* Warm coral red (top right dust & pill) */
  --orange: #f48a1c;  /* Vibrant orange (right-side burst) */
  --yellow: #f8db27;  /* Electric/golden yellow (bottom-right glow) */
  --green: #90cb39;   /* Fresh spring/lime green (upper left) */
  --blue: #00addc;    /* Vivid sky/electric blue (bottom left scatters) */
}

/* ========================================== */
/* NAVBAR */
header {
  position: sticky;
  top: 0;  
  background-color: black;
  text-align: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.hyperlink {
  color: var(--blue);
  text-decoration: underline;
}

.logo {
  width: 30px;
  height: auto;
}

/* LANDING PAGE */
main {
  background-color: var(--dark);
}

body {
  background-color: var(--dark);
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.landing-image {
  max-width: 30%;
  height: auto;
}

.shop-button {
  padding: 10px 20px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* SHOP */

/* FAQ */
section.faq-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

details {
  border: 1px solid var(--offwhite);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

details summary {
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

/* SAFETY */
.safety-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid var(--offwhite);
  border-radius: 10px;
}

q {
  font-style: italic;
  color: var(--offwhite);
  font-size: 12px;
}

p {
  margin-bottom: 15px;
  padding: 10px;
}


h1, h2, h3 {
  margin-bottom: 20px;
  padding: 10px;
  color: var(--offwhite);
}

/* CONTACT */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--offwhite);
  border-radius: 5px;
  background-color: var(--dark);
  color: var(--offwhite);
}

button {
  padding: 10px;
  background-color: var(--blue);
  color: var(--offwhite);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

